.cursor {
    cursor: pointer;
}

.red {
    color: red;
}

.topInfo{
    background-color: #383D53;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    width: 60%;
    border-radius: 10px;
}
.topInfo span{
    font-size: 15px;
}

.mid-left-bottom button{
    width: 20%;
    border: none;
    background-color: #383D53;
    margin: 2%;
    color: #F2D658;
    border-radius: 10px;
}
.tip {
    font-size: 0.9rem;     
}

.mid-right{
    background-color: #383d53b4;
    border-radius: 25px;
}

.icon{    
    font-size: 1.5rem;
}
.money{
    color: green;
}

.actions{
    margin-top: 20%;
}
.actions button{
    width: 37%;
    border: none;
    background-color: #21242F;
    margin: 2%;
    color: #F2D658;
    border-radius: 10px;
}
.actions .sell{
    color: crimson;
}
.actions .sell:hover{
    background-color: crimson;
    color: #383d53b4;
}

.actions .buy{
    color: green;
}
.actions .buy:hover{
    background-color: green;
    color: #383d53b4;
}

.bottom{
    background-color: #383d53b4;
    border-radius: 20px;
}
.bot-container .bot-box .bot-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 4%;
}
.bot-container .bot-box .bot-box-container p{
    color: #F2D658;
}

.stocks-actions .go{
    width: 100px;
    border: none;
    background-color: #21242F;
    color: #F2D658;
    border-radius: 13px;
}

.buy-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buy-details .input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    color: #F2D658;
}
.buy-details .input form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #F2D658;
    
}

.buy-details .input input::placeholder{
    color: #21242F;
}

.buy-details .input .btn-purchase{
    margin-top: 3%;
    border: none;
    background-color: #383D53;
    color: #F2D658;
    border-radius: 10px;
    margin-bottom: 5%;
}
