.hr-tag {
  border-color: #f2d658;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  cursor: default;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.part p {
  color: white;
}

.part h4 {
  color: #f2d658;
}
