.login-button {
    background-color: #282b39;
    color: #F2D658;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    width: 100px;
    /*border: 1px solid #282b39;*/
    /*padding: 0% 10%;*/
}

/*        Modal        */

.box {
    background-color: #282B39;
}

.header {
width: 100%;
font-size: 1.75rem;
text-align: center;
padding: 1%;
color: #F2D658;
margin-bottom: -20px;
}

.divider {
    border-color: #F2D658;
    margin: 4% 2% 0 2%;
}

.content {
width: 100%;
padding: 1% 0.5%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;   
    color: black;
}

label{
    font-size: 1.25rem;
    margin: 1%;
    color: #F2D658;
}

input{
    font-size: 1rem;
    border-radius: 5px;  
}

.login{
margin-top: 4%;
color: green;
background-color: #383D53;
width: 120px;
border: none;
border-radius: 16px;
height: 30px;
font-size: 16px;
cursor: pointer;
margin-bottom: 1%;
}

.login:hover{
    border: 1px green solid;
    /* color: #282B39; */
}

.register {
    text-align: center;
    color: #F2D658;
}
.register:hover {
    text-decoration: underline;
    cursor: pointer;
}

.closeModal {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 5px 5px;
    line-height: 20px;
    right: -10px;
    top: -5%;
    font-size: 24px;
    background: #282B39;
    color: #F2D658;
    border-radius: 25%;
    border: none;
}