body {
  background-color: #282c34;
}

.hrTag {
  border-color: #f2d658;
}

.yellow {
  color: #f2d658;
}

.trscItem {
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  border: 1px solid rgb(252, 242, 242);
  color: white;
  border-radius: 40px;
}
.trscItem:hover {
  cursor: pointer;
  border-color: #f2d658;
}
.Tr_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Tr_itemShare {
  display: flex;
  flex-direction: row;
}
